html { 
    background: url("backgroundisland.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      font-family:  Verdana;
  }
  
  #title-container {
      background: #B0C4DE;
      padding: 20px;
  }
  
  #box {
  
  }
  